<template>
  <div class="container-fluid">
    <div class="row">
      <aside class="col-md-12 col-sm-12">
        <div>
          <b-btn
            class="collapse-btn"
            @click="showListCollapse = !showListCollapse; showOptionsCollapse = false"
            :class="showListCollapse ? 'collapsed' : null"
            aria-controls="collapsable"
            :aria-expanded="showListCollapse ? 'true' : 'false'"
          >Afiseaza lista statiilor</b-btn>
          <b-btn
            class="collapse-btn"
            @click="showOptionsCollapse = !showOptionsCollapse; showListCollapse = false;"
            :class="showOptionsCollapse ? 'collapsed' : null"
            aria-controls="collapsable1"
            :aria-expanded="showOptionsCollapse ? 'true' : 'false'"
          >Optiuni</b-btn>
          <b-collapse v-model="showListCollapse" id="collapsable" class="mt-2">
            <p>Lista statiilor de pe linia 1</p>
            <p>Click pe o statie din lista sau pe harta pentru a vizualiza traseul</p>
            <ul class="list-group stations">
              <li
                class="list-group-item text-left"
                v-for="(location, index) in locations"
                v-on:click="initMap(busCoords, [location[1], location[2]]); showListCollapse = !showListCollapse"
                :key="index"
              >
                {{index+1}}.
                <img
                  class="icon"
                  src="https://i0.wp.com/visit-vallarta.com/wp-content/uploads/2014/03/Bus-Stop-Sign.png"
                >
                {{location[0]}}
              </li>
              <li
                class="list-group-item text-left"
                v-on:click="getMarkers(); showListCollapse = !showListCollapse"
              >
                <img class="icon" src="http://maps.google.com/mapfiles/ms/micons/bus.png">
                <span>Autobuz</span>
              </li>
            </ul>
          </b-collapse>
        </div>
        <b-collapse v-model="showOptionsCollapse" id="collapsable1" class="mt-2">
          <ul class="list-group">
            <li class="list-group-item">
              <button
                class="btn btn-primary"
                v-on:click="getMarkers(); showOptionsCollapse = !showOptionsCollapse"
              >Afiseaza statiile pe harta</button>
            </li>
            <li class="list-group-item">
              <button
                class="btn btn-primary"
                v-on:click="closestStation(); showOptionsCollapse = !showOptionsCollapse"
              >Cea mai apropiata statie</button>
            </li>
            <li class="list-group-item">
              <p>Cumpara abonament:
                <PayPal amount="10.00" currency="USD" :client="paypal" env="sandbox"></PayPal>
              </p>
            </li>
          </ul>
        </b-collapse>
      </aside>
      <section class="col-md-12 col-sm-12">
        <div id="map"></div>
        <div v-if="road.distance">
          <p>
            Distanta dintre
            <strong>{{road.originName}}</strong> si
            <strong>{{road.destinationName}}</strong> este de
            <strong>{{road.distance}}</strong>
          </p>
          <p>
            Durata aproximativa:
            <strong>{{road.duration}}</strong>
          </p>
        </div>
        <p v-if="road.minimum.length">
          Cea mai apropiata statie este la
          <strong>{{road.minimum[2]}}</strong>
          pe
          <strong>{{road.minimum[0]}}</strong> la
          <strong>{{Math.ceil(road.minimum[1]/60)}} min</strong>
        </p>
      </section>
    </div>
  </div>
</template>


<script>
import GoogleMapsApiLoader from "google-maps-api-loader";
import PayPal from "vue-paypal-checkout";
import axios from "axios";
const apiKey = "AIzaSyCdsCZwgVbKBnvwqtPQ8Mqcv5P0lNzuxs8";
const travelMode = "DRIVING";
const url = `https://obscure-woodland-31780.herokuapp.com`;
const busCoordsUrl = `https://obscure-woodland-31780.herokuapp.com/getBusCoordinates`;
const busDist = `${url}/getTimeBetweenDestinations`;

export default {
  name: "harta",
  components: {
    PayPal
  },
  data() {
    return {
      road: {
        distance: 0,
        originName: "",
        destinationName: "",
        duration: "",
        minimum: []
      },
      locations: [
        ["Obcini", 47.6335599, 26.228444, "Obcini"],
        ["Metro", 47.6361565, 26.2354207, "Metro"],
        ["Spital", 47.6383773, 26.2416818, "Areni"],
        ["Policlinica", 47.6406499, 26.2495145, "Policlinica"],
        ["Banca", 47.6409699, 26.2583108, "Banca"]
      ],
      busCoords: 0,
      paypal: {
        sandbox:
          "AWi18rxt26-hrueMoPZ0tpGEOJnNT4QkiMQst9pYgaQNAfS1FLFxkxQuiaqRBj1vV5PmgHX_jA_c1ncL",
        production:
          "AVZhosFzrnZ5Mf3tiOxAD0M6NHv8pcB2IFNHAfp_h69mmbd-LElFYkJUSII3Y0FPbm7S7lxBuqWImLbl"
      },
      showListCollapse: false,
      showOptionsCollapse: false,
      changeTheme: true
    };
  },
  methods: {
    calculateAndDisplayRoute(
      directionsService,
      directionsDisplay,
      origin,
      destination
    ) {
      directionsService.route(
        {
          origin,
          destination,
          unitSystem: google.maps.UnitSystem.METRIC,
          travelMode: google.maps.TravelMode[travelMode]
        },
        (response, status) => {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
            let distance = directionsDisplay.getDirections().routes[
              directionsDisplay.getRouteIndex()
            ].legs[0].distance.value;
            this.road.distance =
              distance < 1000
                ? `${distance} m`
                : `${(distance / 1000).toFixed(2)} km`;
            this.road.duration = directionsDisplay.getDirections().routes[
              directionsDisplay.getRouteIndex()
            ].legs[0].duration.text;
          } else {
            window.alert(status);
          }
        }
      );
    },

    initMap(orig, dest) {
      let self = this,
        geocoder = new google.maps.Geocoder(),
        infowindow = new google.maps.InfoWindow(),
        mapCenter = [47.6639458, 26.1915655],
        origin = new google.maps.LatLng(orig[0], orig[1]),
        destination = new google.maps.LatLng(dest[0], dest[1]),
        center = new google.maps.LatLng(mapCenter[0], mapCenter[1]),
        settings = {
          zoom: 12,
          center,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          apiKey
        },
        map = new google.maps.Map(document.getElementById("map"), settings),
        // Instantiate a directions service.
        directionsService = new google.maps.DirectionsService(),
        directionsDisplay = new google.maps.DirectionsRenderer({
          map: map
        });

      // calculate the distance between origin and destination
      this.calculateAndDisplayRoute(
        directionsService,
        directionsDisplay,
        origin,
        destination
      );

      // Get name locations from origin and destination
      geocoder.geocode(
        { location: { lat: orig[0], lng: orig[1] } },
        (results, status) => {
          if (status === "OK") {
            if (results[0]) {
              self.road.originName = results[0].formatted_address;
            } else {
              window.alert("No results found");
            }
          }
        }
      );

      geocoder.geocode(
        { location: { lat: dest[0], lng: dest[1] } },
        (results, status) => {
          if (status === "OK") {
            if (results[0]) {
              self.road.destinationName = results[0].formatted_address;
            } else {
              window.alert("No results found");
            }
          }
        }
      );
    },

    getMarkers() {
      this.road.distance = 0; // clear data
      let self = this,
        locations = this.locations,
        center = new google.maps.LatLng(47.6409777, 26.2474885),
        settings = {
          zoom: 14,
          center,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          apiKey
        };
      const busStationIcon = {
          url:
            "https://i0.wp.com/visit-vallarta.com/wp-content/uploads/2014/03/Bus-Stop-Sign.png",
          scaledSize: new google.maps.Size(25, 25),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(0, 0)
        },
        busIcon = {
          url: "http://maps.google.com/mapfiles/ms/micons/bus.png",
          scaledSize: new google.maps.Size(25, 25),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(0, 0)
        };

      let map = new google.maps.Map(document.getElementById("map"), settings),
        infowindow = new google.maps.InfoWindow(),
        marker,
        i;

      if (this.busCoords) {
        new google.maps.Marker({
          position: new google.maps.LatLng(
            this.busCoords[0],
            this.busCoords[1]
          ),
          map,
          icon: busIcon
        });
      }

      for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          label: { text: `${i + 1}`, color: "#000" },
          map,
          icon: busStationIcon
        });

        google.maps.event.addListener(
          marker,
          "click",
          (function(marker, i) {
            return function() {
              let origin = [self.busCoords[0], self.busCoords[1]];
              let dest = [locations[i][1], locations[i][2]];
              self.initMap(origin, dest);
            };
          })(marker, i)
        );
      }
    },
    getData() {
      let self = this;
      axios.get(busCoordsUrl).then(response => {
        let originLat = response.data.field1;
        let originLong = response.data.field2;

        function convert(coords) {
          let dd = parseInt(parseFloat(coords) / 100);
          let ss = parseFloat(coords) - dd * 100;
          return dd + ss / 60;
        }

        this.busCoords = [convert(originLat), convert(originLong)];
        self.getMarkers();
      });
    },
    closestStation() {
      let self = this;
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        }
      }

      function showPosition(position) {
        let lat = position.coords.latitude,
          long = position.coords.longitude,
          center = new google.maps.LatLng(47.6409777, 26.2474885);

        let locations = self.locations;

        let settings = {
            zoom: 12,
            center,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            apiKey
          },
          map = new google.maps.Map(document.getElementById("map"), settings),
          // Instantiate a directions service.
          directionsService = new google.maps.DirectionsService(),
          directionsDisplay = new google.maps.DirectionsRenderer({
            map: map
          });

        self.locations.forEach((location, index) => {
          let origin = new google.maps.LatLng(lat, long),
            destination = new google.maps.LatLng(location[1], location[2]);

          calculateAndDisplayRoute(
            directionsService,
            directionsDisplay,
            origin,
            destination
          );
        });

        function calculateAndDisplayRoute(
          directionsService,
          directionsDisplay,
          origin,
          destination
        ) {
          directionsService.route(
            {
              origin,
              destination,
              unitSystem: google.maps.UnitSystem.METRIC,
              travelMode: google.maps.TravelMode["WALKING"]
            },
            (response, status) => {
              let stationName = [];
              if (status == google.maps.DirectionsStatus.OK) {
                if (!self.road.minimum.length) {
                  self.locations.forEach(station => {
                    if (
                      station[1] ===
                        response.request.destination.location.lat() ||
                      station[2] === response.request.destination.location.lng()
                    ) {
                      stationName.push(station[0]);
                    }
                  });
                  // debugger;
                  self.road.minimum.push(
                    response.routes[0].legs[0].end_address,
                    response.routes[0].legs[0].duration.value,
                    stationName[0]
                  );
                  debugger;
                } else {
                  if (
                    response.routes[0].legs[0].duration.value <
                    self.road.minimum[1]
                  ) {
                    self.locations.forEach(station => {
                      if (
                        station[1] ===
                          response.request.destination.location.lat() ||
                        station[2] ===
                          response.request.destination.location.lng()
                      ) {
                        stationName.push(station[0]);
                      }
                    });
                    self.road.minimum = [
                      response.routes[0].legs[0].end_address,
                      response.routes[0].legs[0].duration.value,
                      stationName[0]
                    ];
                  }
                }
              } else {
                window.alert(status);
              }
            }
          );
        }
        self.getMarkers();
      }

      getLocation();
    },
    toggle() {
      document.getElementById("aside").classList.toggle("slide-in");
    }
  },
  beforeMount() {
    let self = this;
    GoogleMapsApiLoader({
      apiKey
    }).then(google => {
      this.google = google;
      self.getData();
    });
  }
};
</script>

<style lang="scss">
.display {
  display: block !important;
}

.hide {
  display: none !important;
}

#map {
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
}

.list-group {
  margin-bottom: 10px;

  &-item {
    cursor: pointer;
  }
}

.stations li:hover {
  background-color: #0062cc;
  color: #fff;
  font-weight: bold;
}

.icon {
  height: 30px;
  width: 30px;
}

aside {
  width: 20%;
  padding: 0 15px;
}

section {
  width: 80%;
  padding: 0 15px;
}

.row {
  justify-content: center;
  align-items: center;
}

body {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #f0f8ff;
}

// Buttons
.collapse-btn {
  min-width: 200px;
  margin: 10px;
}

// Responsive

@media (max-width: 1500px) {
  body {
    width: 80%;
  }
}

@media (max-width: 1280px) {
  body {
    width: 90%;
  }
}

@media (max-width: 1120px) {
  body {
    width: 100%;
  }
}
</style>
