<template>
  <div id="app">
    <Harta/>
  </div>
</template>

<script>
import Harta from "./components/Harta.vue";

export default {
  name: "app",
  components: {
    Harta
  }
};
</script>


<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
